generic_lorawan_app.json
[{"id":"419ea99162b6ef5b","type":"tab","label":"LORAWAN FIELD STATION","disabled":false,"info":""},{"id":"560cc749e5a962fe","type":"tab","label":"Initialize","disabled":false,"info":""},{"id":"6862f897.ee8958","type":"tab","label":"Alarms","disabled":false,"info":""},{"id":"ef222b91ae163d98","type":"tab","label":"User Parameters","disabled":false,"info":""},{"id":"98e17aa124f52bdb","type":"tab","label":"Sensors LoraWAN","disabled":false,"info":""},{"id":"3be8bfa16166fee9","type":"tab","label":"Database","disabled":false,"info":""},{"id":"88d17e865bcc5e02","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"89ac9920.bdcd68","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"9ce00dc0.0b12d","type":"ui_tab","name":"MONITORING","icon":"fa-area-chart","order":1,"disabled":false,"hidden":false},{"id":"d7c7e5cb.50c878","type":"MySQLdatabase","name":"data","host":"127.0.0.1","port":"3306","db":"your_database","tz":"","charset":""},{"id":"c982fbb8.1deb38","type":"ui_group","name":"hidden_group","tab":"7c447e96.4b96a","order":1,"disp":false,"width":"6","collapse":false},{"id":"7c447e96.4b96a","type":"ui_tab","name":"Zooland Sys","icon":"home","order":3,"disabled":false,"hidden":false},{"id":"cca89b7b395a86ad","type":"ui_tab","name":"DATA","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"bec7d1e8315af12c","type":"ui_group","name":"DOWNLOAD","tab":"cca89b7b395a86ad","order":1,"disp":true,"width":"7","collapse":false},{"id":"2d072a6590deb191","type":"ui_spacer","name":"spacer","group":"","order":5,"width":3,"height":1},{"id":"cf290cc2dc1e668a","type":"ui_spacer","name":"spacer","group":"","order":5,"width":1,"height":1},{"id":"ea3213e146fa1e79","type":"ui_spacer","name":"spacer","group":"","order":7,"width":1,"height":1},{"id":"88bbd8e967c9dc4c","type":"ui_spacer","name":"spacer","group":"","order":5,"width":3,"height":1},{"id":"0e25fe2fa4c00f7f","type":"ui_spacer","name":"spacer","group":"","order":5,"width":1,"height":1},{"id":"168316503c4714fe","type":"ui_spacer","name":"spacer","group":"","order":7,"width":1,"height":1},{"id":"9499db6a8156dff3","type":"ui_spacer","name":"spacer","group":"","order":15,"width":2,"height":1},{"id":"9589e2cefb1daa00","type":"ui_spacer","name":"spacer","group":"","order":17,"width":2,"height":1},{"id":"c267ce570a2cc22d","type":"ui_spacer","name":"spacer","group":"","order":4,"width":3,"height":1},{"id":"ea0fcc509c9975b2","type":"ui_group","name":"CAM 1","tab":"","order":1,"disp":true,"width":10,"collapse":false},{"id":"fa868df809b3cab8","type":"ui_group","name":"EXPERIMENT","tab":"01567980f044529f","order":1,"disp":true,"width":"6","collapse":false},{"id":"01567980f044529f","type":"ui_tab","name":"SETTINGS","icon":"fa-cogs","order":5,"disabled":false,"hidden":false},{"id":"a7b642a217195c1b","type":"ui_group","name":"ALERTS","tab":"01567980f044529f","order":9,"disp":true,"width":"6","collapse":false},{"id":"0971525c68e40eed","type":"ui_group","name":"CAM 2","tab":"","order":2,"disp":true,"width":10,"collapse":false},{"id":"deb147bd4e557d95","type":"ui_group","name":"INITIALIZATION","tab":"01567980f044529f","order":10,"disp":true,"width":"6","collapse":false},{"id":"90251bd7e7a6d4d9","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"5f5fde387264ede9","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"63bdb2c27f403f5e","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"60e431abd0ab045e","type":"telegram bot","botname":"","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"62563706be8c471c","type":"ui_spacer","name":"spacer","group":"dbacaef7.4bd77","order":2,"width":1,"height":1},{"id":"f7db6007854b9b8e","type":"ui_spacer","name":"spacer","group":"dbacaef7.4bd77","order":4,"width":1,"height":1},{"id":"8cd34d84a91e1e6b","type":"ui_spacer","name":"spacer","group":"dbacaef7.4bd77","order":7,"width":1,"height":1},{"id":"987244e2a47c9adf","type":"ui_spacer","name":"spacer","group":"dbacaef7.4bd77","order":9,"width":1,"height":1},{"id":"bceedf39399d6c91","type":"ui_spacer","name":"spacer","group":"dbacaef7.4bd77","order":12,"width":1,"height":1},{"id":"430e451dec47061d","type":"ui_spacer","name":"spacer","group":"dbacaef7.4bd77","order":14,"width":1,"height":1},{"id":"5104c75f32d11395","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"f857281a85d809e8","type":"ui_spacer","name":"spacer","group":"","order":4,"width":1,"height":1},{"id":"503cc5dbb92081f0","type":"ui_spacer","name":"spacer","group":"","order":7,"width":1,"height":1},{"id":"9b33fb6daec61059","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"44a6e5b95bdbf8cc","type":"ui_spacer","name":"spacer","group":"","order":12,"width":1,"height":1},{"id":"314c82bf78efdffd","type":"ui_spacer","name":"spacer","group":"","order":14,"width":1,"height":1},{"id":"a9df86a3c3561d99","type":"ui_spacer","name":"spacer","group":"","order":18,"width":1,"height":1},{"id":"1b57facf67935040","type":"ui_spacer","name":"spacer","group":"","order":20,"width":1,"height":1},{"id":"0b365618a973d4c5","type":"ui_spacer","name":"spacer","group":"","order":23,"width":1,"height":1},{"id":"4c6415542c83f923","type":"ui_spacer","name":"spacer","group":"","order":25,"width":1,"height":1},{"id":"72059eaade88c5e1","type":"ui_spacer","name":"spacer","group":"","order":28,"width":1,"height":1},{"id":"adf9e2df24f7148e","type":"ui_spacer","name":"spacer","group":"","order":30,"width":1,"height":1},{"id":"33181274fc311df0","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"b886ee31a3c0a38c","type":"ui_spacer","name":"spacer","group":"","order":4,"width":1,"height":1},{"id":"986698a55436229e","type":"ui_spacer","name":"spacer","group":"","order":7,"width":1,"height":1},{"id":"8724162fbed1a361","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"4ada71c65cdd78e7","type":"ui_spacer","name":"spacer","group":"","order":12,"width":1,"height":1},{"id":"329fa6dfab213383","type":"ui_spacer","name":"spacer","group":"","order":14,"width":1,"height":1},{"id":"1a0e0227be4dee6f","type":"ui_spacer","name":"spacer","group":"","order":18,"width":1,"height":1},{"id":"fed9337ea1b02562","type":"ui_spacer","name":"spacer","group":"","order":20,"width":1,"height":1},{"id":"d3789898aa591e57","type":"ui_spacer","name":"spacer","group":"","order":23,"width":1,"height":1},{"id":"d29913d917c121f4","type":"ui_spacer","name":"spacer","group":"","order":25,"width":1,"height":1},{"id":"87403a6bebd9f7d7","type":"ui_spacer","name":"spacer","group":"","order":28,"width":1,"height":1},{"id":"07203f20aa723ca6","type":"ui_spacer","name":"spacer","group":"","order":30,"width":1,"height":1},{"id":"8e99feb97b3d5213","type":"ui_spacer","name":"spacer","group":"","order":15,"width":6,"height":1},{"id":"81019c132a84c728","type":"ui_spacer","name":"spacer","group":"","order":16,"width":6,"height":1},{"id":"6b6e56a5.7a3ef8","type":"MySQLdatabase","host":"localhost","port":"3306","db":"your_database","tz":""},{"id":"43e24a6a.763704","type":"MySQLdatabase","name":"","host":"localhost","port":"3306","db":"your_database_name","tz":"","charset":"UTF8"},{"id":"1a8fbaee.5e6c89","type":"MySQLdatabase","name":"","host":"localhost","port":"3306","db":"your_database_name","tz":"","charset":"UTF8"},{"id":"f77e3078.58814","type":"MySQLdatabase","name":"","host":"localhost","port":"3306","db":"your_database_name","tz":"","charset":"UTF8"},{"id":"d42f3c1a.71728","type":"MySQLdatabase","name":"MySQL Database","host":"localhost","port":"3306","db":"your_database","tz":""},{"id":"d4c170d9.b7483","type":"mqtt-broker","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"89d6f3f1.4a02d","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cb5bdea7e5274324","type":"ui_group","name":"Soil Temperature","tab":"9ce00dc0.0b12d","order":3,"disp":true,"width":"8","collapse":false},{"id":"d29faea13163383c","type":"ui_group","name":"Soil Moisture","tab":"9ce00dc0.0b12d","order":1,"disp":true,"width":"8","collapse":false},{"id":"8e021c9692110dec","type":"ui_group","name":"Soil Conductivity","tab":"9ce00dc0.0b12d","order":2,"disp":true,"width":"8","collapse":false},{"id":"161ab0eb2228e2b7","type":"ui_group","name":"Battery Information","tab":"9ce00dc0.0b12d","order":4,"disp":true,"width":"6","collapse":false},{"id":"46e62186764f8c27","type":"ui_spacer","z":"98e17aa124f52bdb","name":"spacer","group":"a7b642a217195c1b","order":2,"width":6,"height":1},{"id":"22c314d225b3d384","type":"function","z":"560cc749e5a962fe","name":"initialize (please check)","func":"global.set(\"crop\",\"crop\");\nglobal.set(\"trial\",\"trial\");\nglobal.set(\"location\",\"location\");\nglobal.set(\"author\",\"author\");\nglobal.set(\"email\",\"mail@mail\");\nglobal.set(\"ccEmail\",\"your cc email\"), \nglobal.set(\"bccEmail\",\"your bcc email\"), \nglobal.set(\"phone\",1234567899);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2390,"y":2400,"wires":[[]]},{"id":"3ebdcbba89cf2f27","type":"inject","z":"560cc749e5a962fe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":2170,"y":2400,"wires":[["22c314d225b3d384"]]},{"id":"659268ea593137e7","type":"function","z":"560cc749e5a962fe","name":"Check data before saving","func":"var crop = global.get(\"crop\");\nvar trial = global.get(\"trial\");\nvar location = global.get(\"location\");\nvar author = global.get(\"author\");\nvar email = global.get(\"email\");\nvar phone = global.get(\"phone\");\ntempalert=global.get(\"tempalert\");\nhumalert=global.get(\"humalert\");\nif (msg.payload == \"SAVE\") {\n    if (crop.length !== 0 &&\n        trial.length !== 0 &&\n        location.length !== 0 &&\n        author.length !== 0 &&\n        email.length !== 0 &&\n        phone.length !== 0 &&\n        tempalert.length !== 0 &&\n        humalert.length !== 0) {\n        var msg1 = { payload: \"Save Changes?\" };\n        return [null, msg1];\n    } else {\n        var msg1 = { payload: \"Error: Please check empty fields!!\" };\n        return [msg1, null];\n    }\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2390,"y":2440,"wires":[["44476062a4d207b7"],["5ca9d85762ac218d"]]},{"id":"10ac44c80183a47d","type":"ui_button","z":"560cc749e5a962fe","name":"","group":"fa868df809b3cab8","order":7,"width":0,"height":0,"passthru":false,"label":"SAVE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SAVE","payloadType":"str","topic":"topic","topicType":"msg","x":2170,"y":2440,"wires":[["659268ea593137e7"]]},{"id":"5ca9d85762ac218d","type":"ui_toast","z":"560cc749e5a962fe","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"SAVE","cancel":"CANCEL","raw":false,"topic":"Configuración","name":"start","x":2610,"y":2440,"wires":[["1cbf3add213f4f01"]]},{"id":"44476062a4d207b7","type":"ui_toast","z":"560cc749e5a962fe","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2610,"y":2380,"wires":[[]]},{"id":"1cbf3add213f4f01","type":"function","z":"560cc749e5a962fe","name":"Save","func":"if (msg.payload == \"SAVE\") {\n    var msg1 = { payload: \"SAVE\" };\n    return msg1;\n}\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2750,"y":2440,"wires":[["37ea1e40d59e925a"]]},{"id":"37ea1e40d59e925a","type":"link out","z":"560cc749e5a962fe","name":"link out 2","links":["64ae6956cc987171"],"x":2975,"y":2440,"wires":[]},{"id":"4d415ddc3a4854c5","type":"comment","z":"ef222b91ae163d98","name":"Experiment","info":"","x":2570,"y":2040,"wires":[]},{"id":"278d837d42fe3cc6","type":"ui_text_input","z":"ef222b91ae163d98","name":"Trial","label":"Trial Name (your experiment)","tooltip":"","group":"fa868df809b3cab8","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Trial","topicType":"str","x":2490,"y":2120,"wires":[["c50e075b85dd91f6"]]},{"id":"f37813d229fa9145","type":"ui_text_input","z":"ef222b91ae163d98","name":"Location","label":"Location (greenhouse name)","tooltip":"","group":"fa868df809b3cab8","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Location","topicType":"str","x":2500,"y":2160,"wires":[["f26f16b0e27ca1a6"]]},{"id":"024664310b7d7966","type":"ui_text_input","z":"ef222b91ae163d98","name":"Author","label":"Author (your name)","tooltip":"","group":"fa868df809b3cab8","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Author","topicType":"str","x":2490,"y":2200,"wires":[["677f4ace09b52d9a"]]},{"id":"2eeb6860499fa785","type":"ui_text_input","z":"ef222b91ae163d98","name":"Email","label":"Email","tooltip":"","group":"fa868df809b3cab8","order":5,"width":0,"height":0,"passthru":true,"mode":"email","delay":"0","topic":"Email","topicType":"str","x":2490,"y":2240,"wires":[["19ec6c272157e301"]]},{"id":"ae630f9920499420","type":"ui_text_input","z":"ef222b91ae163d98","name":"Phone","label":"Phone (+57)","tooltip":"(Max. 10 Numbers)","group":"fa868df809b3cab8","order":6,"width":0,"height":0,"passthru":true,"mode":"tel","delay":"0","topic":"Phone","topicType":"str","x":2490,"y":2280,"wires":[["884614a0a77d3d4d"]]},{"id":"c50e075b85dd91f6","type":"function","z":"ef222b91ae163d98","name":"set new trial","func":"global.set(\"trial\", msg.payload);","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2650,"y":2120,"wires":[]},{"id":"f26f16b0e27ca1a6","type":"function","z":"ef222b91ae163d98","name":"set new location","func":"global.set(\"location\", msg.payload);","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2660,"y":2160,"wires":[]},{"id":"677f4ace09b52d9a","type":"function","z":"ef222b91ae163d98","name":"set new author","func":"global.set(\"author\", msg.payload);","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2660,"y":2200,"wires":[]},{"id":"19ec6c272157e301","type":"function","z":"ef222b91ae163d98","name":"set new email","func":"global.set(\"email\", msg.payload);\nglobal.set(\"ccEmail\", \"your cc email\");\nglobal.set(\"bccEmail\", \"your bcc email\");","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2660,"y":2240,"wires":[]},{"id":"884614a0a77d3d4d","type":"function","z":"ef222b91ae163d98","name":"set new phone","func":"if(msg.payload.length==10){\n    global.set(\"phone\", msg.payload);\n}else{\n    global.set(\"phone\", 0);\n    msg = {payload : \"Please insert a valid 10 digits telephone number\"};\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2660,"y":2280,"wires":[["888e612a477f3719"]]},{"id":"db158d35c7c1dca0","type":"function","z":"ef222b91ae163d98","name":"update data","func":"if(msg.payload){\n    var crop=global.get(\"crop\");\n    var trial=global.get(\"trial\");\n    var location=global.get(\"location\");\n    var author=global.get(\"author\");\n    var email=global.get(\"email\");\n    var phone=global.get(\"phone\");\n    \n    //msg\n    var msg0 = {payload: crop};\n    var msg1 = {payload: trial};\n    var msg2 = {payload: location};\n    var msg3 = {payload: author};\n    var msg4 = {payload: email};\n    var msg5 = {payload: phone};\n    \n    return [msg0,msg1,msg2,msg3,msg4,msg5];\n}","outputs":6,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2310,"y":2180,"wires":[["c4c766624e78beea"],["278d837d42fe3cc6"],["f37813d229fa9145"],["024664310b7d7966"],["2eeb6860499fa785"],["ae630f9920499420"]]},{"id":"4e4780d3f2fcb4f9","type":"link in","z":"ef222b91ae163d98","name":"exp_in","links":["9f73c3353cd14f9c","f8c437bf383ee401","15f2cebca99e53c2"],"x":2175,"y":2180,"wires":[["db158d35c7c1dca0"]]},{"id":"888e612a477f3719","type":"ui_toast","z":"ef222b91ae163d98","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2830,"y":2280,"wires":[[]]},{"id":"c4c766624e78beea","type":"ui_text_input","z":"ef222b91ae163d98","name":"Crop","label":"Crop (program)","tooltip":"","group":"fa868df809b3cab8","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Crop","topicType":"str","x":2490,"y":2080,"wires":[["a620f578e3f6e6f8"]]},{"id":"a620f578e3f6e6f8","type":"function","z":"ef222b91ae163d98","name":"set new crop","func":"global.set(\"crop\", msg.payload);","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2650,"y":2080,"wires":[]},{"id":"fa35ae71c0cc9572","type":"function","z":"98e17aa124f52bdb","name":"Sensor Decoding data","func":"//The next command is the typical example for LSE01 sensor decoding\n//Remember that if you are using a different sensor than LSE01, \n//you must add the proper decode function and create a JSON variable\n//with the data, and then this function can parse them.\n\n/*{\"Temp_SOIL\":30.66,\n    \"BatV\":3.396,\n    \"SNR\":10.2,\n    \"Sensor_flag\":1,\n    \"RSSI\":-90,\n    \"Water_SOIL\":27.49,\n    \"Conduct_SOIL\":506,\n    \"Interrupt_flag\":0,\n    \"Temp_DS18B20\":0}\n*/\nvar topic = msg.topic;\nvar topicParts = topic.split('/');\nvar device = topicParts[0];\nvar sensorID = topicParts[1];\nvar sensorData = JSON.parse(msg.payload);   \nvar payload = msg.payload;\n\n//--------------------------\nvar input = msg.payload;\n\nvar result;\n\nswitch (sensorID) {\n    case \"DEVICE_ADDRESS1\":\n        result = \"Sensor1\";\n        break;\n    case \"DEVICE_ADDRESS2\":\n        result = \"Sensor2\";\n        break;\n    //continue with this cases as much as amount of sensors you have\n}\n//-----------------------\n//var n=payload.includes(\"Temp_SOIL\");\n\nglobal.set(\"sensorID\",result);\nglobal.set(\"sensorData\",sensorData);\nif (payload !==0){\n    var temp_soil = JSON.parse(payload).Temp_SOIL;\n    global.set(\"tempAvg\",temp_soil);//This is the temperature used to compare with reference alert; you can change it for another air or soil temperature sensor\n    var water_soil = JSON.parse(payload).Water_SOIL;\n    global.set(\"humAvg\",water_soil);//This is the humidity used to compare with reference alert; you can change it for another air or soil humidity sensor\n    var conduct_soil = JSON.parse(payload).Conduct_SOIL;\n    var temp_ds18b20 = JSON.parse(payload).Temp_DS18B20;\n    var bat = JSON.parse(payload).BatV;\n    //For the battery\n    var input = bat;\n    // Define the input range\n    var inputMin = 2.9;\n    var inputMax = 3.4;\n    // Define the output range\n    var outputMin = 0;\n    var outputMax = 100;\n    // Perform the linear mapping\n    var output = ((input - inputMin) * (outputMax - outputMin)) / (inputMax - inputMin) + outputMin;\n\n    // Round the output value to two decimal places\n    output = Math.round(output * 100) / 100;// convert the voltage from battery in percentage\n    if(temp_soil!==null){\n        var msg1 = { topic: result, payload: water_soil };//Soil Moisture\n        var msg2 = { topic: result, payload: temp_soil };//\"Soil Temperature\"\n        var msg3 = { topic: result, payload: conduct_soil };//\"Soil Conductivity\"\n        var msg4 = { topic: result, payload: temp_ds18b20 };//\"Temperature\"\n        var msg5 = { topic: result, payload: output };//\"Battery\" \n        return [msg1,msg2,msg3,msg4,msg5,null];\n    }\n}","outputs":6,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2360,"y":2660,"wires":[["6a7d0f2b9dbc1779","f6e6f59440411d37"],["0def40bc03b71461","cf5128200a2ecacd"],["c70f7b657ea0504c","879e61a15bf8a83b"],["8abe081564069378","8a4d3db6a86945ec"],["c37fcc55cf03e627","cac6a560aba68868","0e57aaf0cf12741c","7bb3aead3647b673"],[]]},{"id":"6a7d0f2b9dbc1779","type":"ui_text","z":"98e17aa124f52bdb","group":"d29faea13163383c","order":1,"width":0,"height":0,"name":"W_SENSOR8","label":"{{msg.topic}}","format":"{{msg.payload}} %","layout":"col-center","x":2700,"y":2440,"wires":[]},{"id":"0def40bc03b71461","type":"ui_text","z":"98e17aa124f52bdb","group":"cb5bdea7e5274324","order":3,"width":"0","height":"0","name":"T_SENSOR8","label":"{{msg.topic}}","format":"{{msg.payload}} °C","layout":"col-center","x":2690,"y":2520,"wires":[]},{"id":"73eb3ffbad33cc6f","type":"trigger","z":"98e17aa124f52bdb","name":"","op1":"","op2":"0","op1type":"nul","op2type":"num","duration":"5","extend":true,"overrideDelay":false,"units":"hr","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2070,"y":2620,"wires":[["fa35ae71c0cc9572"]]},{"id":"c37fcc55cf03e627","type":"ui_chart","z":"98e17aa124f52bdb","name":"BATT_SENSOR","group":"161ab0eb2228e2b7","order":10,"width":"6","height":"5","label":"","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2645,"y":2800,"wires":[[]],"l":false},{"id":"c70f7b657ea0504c","type":"ui_text","z":"98e17aa124f52bdb","group":"8e021c9692110dec","order":7,"width":0,"height":0,"name":"C_SENSOR8","label":"{{msg.topic}}","format":"{{msg.payload}} uS/cm","layout":"col-center","x":2700,"y":2600,"wires":[]},{"id":"cac6a560aba68868","type":"ui_text","z":"98e17aa124f52bdb","group":"161ab0eb2228e2b7","order":9,"width":0,"height":0,"name":"BAT_SENSOR8","label":"{{msg.topic}}","format":"{{msg.payload}} %","layout":"col-center","x":2700,"y":2760,"wires":[]},{"id":"cf5128200a2ecacd","type":"ui_chart","z":"98e17aa124f52bdb","name":"T_SENSOR","group":"cb5bdea7e5274324","order":4,"width":"8","height":"5","label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff7f0e","#1f77b4","#aec7e8","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2690,"y":2560,"wires":[[]]},{"id":"879e61a15bf8a83b","type":"ui_chart","z":"98e17aa124f52bdb","name":"C_SENSOR8","group":"8e021c9692110dec","order":8,"width":"8","height":"5","label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff7f0e","#1f77b4","#aec7e8","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2700,"y":2640,"wires":[[]]},{"id":"f6e6f59440411d37","type":"ui_chart","z":"98e17aa124f52bdb","name":"W_SENSOR","group":"d29faea13163383c","order":2,"width":"8","height":"5","label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff7f0e","#1f77b4","#aec7e8","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2690,"y":2480,"wires":[[]]},{"id":"8a4d3db6a86945ec","type":"ui_text","z":"98e17aa124f52bdb","d":true,"group":"cb5bdea7e5274324","order":5,"width":0,"height":0,"name":"Tds18b20_SENSOR2","label":"T","format":"{{msg.payload}} °C","layout":"col-center","x":2720,"y":2680,"wires":[]},{"id":"8abe081564069378","type":"ui_chart","z":"98e17aa124f52bdb","d":true,"name":"Tds18b20_SENSOR2","group":"cb5bdea7e5274324","order":6,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff7f0e","#1f77b4","#aec7e8","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2720,"y":2720,"wires":[[]]},{"id":"470fdce5a02cf711","type":"file","z":"98e17aa124f52bdb","name":"log sensor data","filename":"/your_location/name_data.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":2360,"y":2760,"wires":[[]]},{"id":"932f526711e3fe60","type":"mqtt in","z":"98e17aa124f52bdb","name":"LSE01_1","topic":"gateway id/DEVICE_ADDRESS1/data","qos":"0","datatype":"auto","broker":"89ac9920.bdcd68","nl":false,"rap":false,"x":2080,"y":2560,"wires":[["fa35ae71c0cc9572","73eb3ffbad33cc6f","470fdce5a02cf711"]]},{"id":"7bb3aead3647b673","type":"link out","z":"98e17aa124f52bdb","name":"link out 4","links":["0d8949dbf84593e0"],"x":2825,"y":3020,"wires":[]},{"id":"0e57aaf0cf12741c","type":"function","z":"98e17aa124f52bdb","name":"function 27","func":"var sensorID = global.get(\"sensorID\");\nvar sensorData = global.get(\"sensorData\");\n\nmsg.payload = sensorData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2590,"y":2960,"wires":[["89f2721ac997bcf9"]]},{"id":"89f2721ac997bcf9","type":"debug","z":"98e17aa124f52bdb","name":"debug 45","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2720,"y":3060,"wires":[]},{"id":"d5d68931362020df","type":"inject","z":"98e17aa124f52bdb","name":"Sensor 1: Multiple","props":[{"p":"payload.sensorID","v":"Sensor1","vt":"str"},{"p":"payload.data","v":"{\"AirTemperature\": 22.5,\"Temperature\": 25.5,\"Humidity\": 35.5,\"EC\": 2.3,\"PAR\": 1100,\"TSOIL\":25 }","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":2390,"y":3040,"wires":[["89f2721ac997bcf9"]]},{"id":"fdc607c1a1ddf143","type":"trigger","z":"98e17aa124f52bdb","name":"","op1":"","op2":"0","op1type":"nul","op2type":"num","duration":"5","extend":true,"overrideDelay":false,"units":"hr","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2070,"y":2740,"wires":[["fa35ae71c0cc9572"]]},{"id":"1d79319db310787d","type":"mqtt in","z":"98e17aa124f52bdb","name":"LSE01_2","topic":"gateway id/DEVICE_ADDRESS2/data","qos":"0","datatype":"auto","broker":"89ac9920.bdcd68","nl":false,"rap":false,"x":2060,"y":2680,"wires":[["fa35ae71c0cc9572","fdc607c1a1ddf143","470fdce5a02cf711"]]},{"id":"af38f0c3d6a6dbb0","type":"debug","z":"98e17aa124f52bdb","name":"debug 47","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2360,"y":2900,"wires":[]},{"id":"2b1b038d99efd59e","type":"function","z":"3be8bfa16166fee9","name":"Get","func":"date = global.get(\"gDate\");\ntime = global.get(\"gTime\");\n\n//DATA table\ncrop=global.get(\"crop\");\ntrial=global.get(\"trial\");\nstatus=global.get(\"status\");\nlocation=global.get(\"location\");\nauthor=global.get(\"author\");\nemail=global.get(\"email\");\nccEmail=global.get(\"ccEmail\");\nbccEmail=global.get(\"bccEmail\");\nphone=global.get(\"phone\");\n//Sensor\nsensor=\"average\";\ntemp=global.get(\"tempAvg\");\nhum=global.get(\"humAvg\");\n//Alerts\ntempalert=global.get(\"tempalert\");\nhumalert=global.get(\"humalert\");\n\nquery = (`Status: ${status}\nCrop: ${crop}\nTrial: ${trial}\nDate: ${date}\nTime: ${time}\nLocation: ${location}\nAuthor: ${author}\nEmail: ${email}\nccEmail: ${ccEmail}\nbccEmail: ${bccEmail}\nPhone: ${phone}\nSensor: ${sensor}\nTemperature: ${temp} °C\nHumidity: ${hum} %\nTemperature Alert: ${tempalert} °C\nHumidity Alert: ${humalert} %\n`);\n\nif(msg.payload){\n    msg1 = {payload : query};\n    return msg1;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2270,"y":2040,"wires":[["0d725e9e8403e2c6"]]},{"id":"34078c3d3789e4cf","type":"inject","z":"3be8bfa16166fee9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2100,"y":2040,"wires":[["2b1b038d99efd59e"]]},{"id":"0d725e9e8403e2c6","type":"debug","z":"3be8bfa16166fee9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2490,"y":2040,"wires":[]},{"id":"f5bd29e79c6b1b09","type":"function","z":"3be8bfa16166fee9","name":"Global Date&Time","func":"d = new Date();\ndate = d.getDate() + \" \" + (d.getMonth() + 1) + \" \" + d.getFullYear();\ntime = d.toLocaleTimeString('en-US', { hour12: false });\nday = d.getDay();\n\nglobal.set(\"gDay\", day);\nglobal.set(\"gTime\", time);\nglobal.set(\"gDate\", date);\nglobal.set(\"gDateTime\", date+\"_\"+time);","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2310,"y":2000,"wires":[]},{"id":"7c5ba818cb462856","type":"inject","z":"3be8bfa16166fee9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":2110,"y":2000,"wires":[["f5bd29e79c6b1b09"]]},{"id":"ea71b61b4cb5596d","type":"link in","z":"3be8bfa16166fee9","name":"Email_Alarms_in","links":["055e71e8ef6c2ef6","b343d31c.c478b"],"x":2855,"y":2080,"wires":[["f89edcad6149e115"]]},{"id":"f89edcad6149e115","type":"e-mail","z":"3be8bfa16166fee9","server":"","port":"25","secure":false,"tls":false,"name":"","dname":"","x":3050,"y":2120,"wires":[]},{"id":"9de7e4b0fa47d4bd","type":"debug","z":"3be8bfa16166fee9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2910,"y":1940,"wires":[]},{"id":"a98ecc45afd23a32","type":"function","z":"3be8bfa16166fee9","name":"","func":"msg3={payload: {\n    //Uncomment if you want to send message through telegram\n    //\"chatId\": ,\n    \"type\": \"message\",\n    \"content\": \"Hello World\"}\n}\nreturn msg3;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2700,"y":1980,"wires":[["9de7e4b0fa47d4bd","cd638fb36f5925c5"]]},{"id":"9769ed4ac3036dfe","type":"inject","z":"3be8bfa16166fee9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2550,"y":1980,"wires":[["a98ecc45afd23a32"]]},{"id":"0e95013fe2edabd4","type":"telegram receiver","z":"3be8bfa16166fee9","d":true,"name":"Incoming Messages","bot":"60e431abd0ab045e","saveDataDir":"","filterCommands":false,"x":2550,"y":1940,"wires":[["9de7e4b0fa47d4bd"],[]]},{"id":"cd638fb36f5925c5","type":"telegram sender","z":"3be8bfa16166fee9","name":"","bot":"60e431abd0ab045e","haserroroutput":false,"outputs":1,"x":2930,"y":2040,"wires":[[]]},{"id":"c616df8fb0c36179","type":"function","z":"3be8bfa16166fee9","name":"CREATE TABLE DATA","func":"//var out =\"create table TEST(ID int auto_increment,DATE varchar(255),TIME varchar(255),CROP varchar(255),TRIAL varchar(255),LOCATION varchar(255),AUTHOR varchar(255),EMAIL varchar(255),PHONE INT,CTRL_STATUS varchar(255),FANS_TREFS varchar(255),TREF1 double,TREF2 double,TREF3 double,TEMPALERT double,HUMALERT double,CONNECT_COOLSYS varchar(255),COOL_SYS varchar(255),COOL_SYS_STATE varchar(255),primary key(ID));\"\n//var out = \"create table TEST(id INT PRIMARY KEY AUTO_INCREMENT,key_name VARCHAR(255),value VARCHAR(255),metadata VARCHAR(255));\"\nvar out = \"CREATE TABLE DATA(ID int auto_increment,DATE varchar(255),TIME varchar(255),CROP varchar(255),TRIAL varchar(255),LOCATION varchar(255),AUTHOR varchar(255),EMAIL varchar(255),PHONE INT,TEMPALERT double,HUMALERT double,SensorID VARCHAR(255),primary key(ID));\";\nmsg={payload: out, topic:out};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2120,"y":2560,"wires":[[]]},{"id":"62a68e8432bfc718","type":"function","z":"3be8bfa16166fee9","name":"Process Check Result","func":"//Once is determined if columns exists (or created a new in case if not)\n//Data are stored, please remember to send the data twice to be sure\n//that data re correctly stores (for new variables cases)\n\n// Get the current date and time\nvar date = global.get(\"gDate\");\nvar time = global.get(\"gTime\");\nvar crop = global.get(\"crop\");\nvar trial = global.get(\"trial\");\nvar location = global.get(\"location\");\nvar author = global.get(\"author\");\nvar email = global.get(\"email\");\nvar phone = global.get(\"phone\");\nvar temp_alert=global.get(\"tempalert\");\nvar hum_alert=global.get(\"humalert\");\nvar existingColumns = msg.payload.map(column => column.COLUMN_NAME);\n\nvar sensorID = global.get(\"sensorID\");\nvar sensorData = global.get(\"sensorData\");\nvar variableNames = Object.keys(sensorData);//(global.get(\"variableNames\"));\nvar variableValues = Object.values(sensorData);//global.get(\"variableValues\"));\n\nvar newColumns = variableNames.filter(name => !existingColumns.includes(name));\n\n// Create the new columns if they don't exist\nif (newColumns.length > 0) {\n    var alterQueries = newColumns.map(column => `ALTER TABLE DATA ADD COLUMN ${column} VARCHAR(255) NULL`);\n    var combinedQuery = alterQueries.join('; ');\n\n    // Execute the ALTER TABLE query to create new columns\n    msg.topic = combinedQuery;\n    node.send(msg);\n}\n// All columns exist, proceed with storing the data\nvar insertColumns = ['DATE', 'TIME', 'CROP', 'TRIAL', 'LOCATION', 'AUTHOR', 'EMAIL', 'PHONE','TEMPALERT', 'HUMALERT', 'SensorID'].concat(variableNames);\nvar insertPlaceholders = ['?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?'].concat(Array(variableValues.length).fill('?'));\n\n// Construct the INSERT INTO query dynamically\nvar insertQuery = 'INSERT INTO DATA (' + insertColumns.join(', ') + ') VALUES (' + insertPlaceholders.join(', ') + ')';\n\nmsg.topic = insertQuery;\nmsg.payload = [date, time, crop, trial, location, author, email, phone, temp_alert, hum_alert, sensorID].concat(variableValues);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2680,"y":2480,"wires":[["752cbad9c068d834","866567271bd1a20e"]]},{"id":"dfc866806a89b38b","type":"mysql","z":"3be8bfa16166fee9","mydb":"d7c7e5cb.50c878","name":"Check Column Existence in DATA","x":2420,"y":2480,"wires":[["62a68e8432bfc718"]]},{"id":"866567271bd1a20e","type":"mysql","z":"3be8bfa16166fee9","mydb":"d7c7e5cb.50c878","name":"DATA","x":2830,"y":2420,"wires":[[]]},{"id":"752cbad9c068d834","type":"debug","z":"3be8bfa16166fee9","name":"debug 36","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2840,"y":2520,"wires":[]},{"id":"b9aae7b293e1b91a","type":"function","z":"3be8bfa16166fee9","name":"Check Column Existence","func":"//This function will look for the variables to be stored\n//This is in case you add a new type of sensor, the node will\n//detect automatically the new variable and then it will create a new column,\n//automatically in the MySQL table\n\nvar sensorID = global.get(\"sensorID\");\nvar sensorData = global.get(\"sensorData\");\nvar variableNames = Object.keys(sensorData);\nvar variableValues = Object.values(sensorData);\n\n// Query to check if the column exists\nvar checkColumnQuery = `SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'DATA' AND COLUMN_NAME IN (${variableNames.map(name => `'${name}'`).join(',')})`;\n\n// Assign the check query to the message\nmsg.topic = checkColumnQuery;\n\n// Assign the sensor data and variable names/values to the message object\nmsg.payload = {\n    sensorID: sensorID,\n    sensorData: sensorData,\n    variableNames: variableNames,\n    variableValues: variableValues\n};\nglobal.set(\"sensorID\", sensorID);\nglobal.set(\"sensorData\", sensorData);\nglobal.set(\"variableNames\", variableNames);\nglobal.set(\"variableValues\", variableValues);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2130,"y":2480,"wires":[["dfc866806a89b38b"]]},{"id":"e2234e2292d54029","type":"function","z":"3be8bfa16166fee9","name":"Rename Table","func":"var out =\"RENAME TABLE DATA TO OLD_DATA;\"\nmsg={payload: out, topic:out};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2120,"y":2600,"wires":[[]]},{"id":"f69ed4a9bb28727a","type":"function","z":"3be8bfa16166fee9","name":"ADD COLUMN","func":"var out =\"ALTER TABLE DATA add COLUMN_NAME varchar(255);\"\nmsg={payload: out, topic:out};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2120,"y":2640,"wires":[[]]},{"id":"c39c331feb3dc3fb","type":"inject","z":"3be8bfa16166fee9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1920,"y":2640,"wires":[["f69ed4a9bb28727a"]]},{"id":"1528d4e46b01de0e","type":"function","z":"3be8bfa16166fee9","name":"DROP COLUMN","func":"var out =\"ALTER TABLE DATA DROP COLUMN COLUMN_NAME;\"\nmsg={payload: out, topic:out};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2130,"y":2680,"wires":[[]]},{"id":"53d8f703544ac220","type":"inject","z":"3be8bfa16166fee9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1920,"y":2680,"wires":[["1528d4e46b01de0e"]]},{"id":"ff324ece2d078edc","type":"function","z":"3be8bfa16166fee9","name":"Global Date&Time","func":"var d = new Date();\nvar date = d.getDate() + \" \" + (d.getMonth() + 1) + \" \" + d.getFullYear();\nvar time = d.toLocaleTimeString('en-US', { hour12: false });\nvar day = d.getDay();\n\nglobal.set(\"gDay\", day);\nglobal.set(\"gTime\", time);\nglobal.set(\"gDate\", date);\nglobal.set(\"gDateTime\", date+\"_\"+time);","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2150,"y":3180,"wires":[]},{"id":"decfc8b77e873c29","type":"inject","z":"3be8bfa16166fee9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":1930,"y":3100,"wires":[["ff324ece2d078edc","b6d761e62d61066e"]]},{"id":"801d382f978aedf3","type":"inject","z":"3be8bfa16166fee9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":2210,"y":3620,"wires":[["5c79e87ed2b02199","cba747538351cc64"]]},{"id":"5c79e87ed2b02199","type":"ui_template","z":"3be8bfa16166fee9","group":"d29faea13163383c","name":"","order":2,"width":7,"height":1,"format":"<script>\n(function(scope){\n scope.$watch('msg', function(msg) {\n  var Datum = new Date();\n  var weekday=Datum.getDate();  //-weekday as a number  0-6\n  var month=Datum.getMonth() + 1; // month as a number 0-11\n  var year=Datum.getFullYear(); //year as a four digit number (yyyy)\n  var hours=Datum.getHours(); //the hour (0-23)\n  var minutes=Datum.getMinutes(); //-the minute (0-59)\n  var seconds=Datum.getSeconds(); //-the seconds (0-59)\n  datetime= {\"day\":weekday,\"month\":month,\"year\":year,\"hour\":hours,\"minute\":minutes,\"second\":seconds};\n scope.send({payload: JSON.stringify(datetime)});\n });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":2420,"y":3620,"wires":[["5bf470072f73b5f0"]]},{"id":"5bf470072f73b5f0","type":"function","z":"3be8bfa16166fee9","name":"Set date and time from Web App","func":"//set date and time to raspberry pi from user device in cases \n//where there is not internet access.\nvar data=msg.payload;\nvar d = JSON.parse(data).day;\nvar m = JSON.parse(data).month;\nvar y = JSON.parse(data).year;\nvar h = JSON.parse(data).hour;\nvar min = JSON.parse(data).minute;\nvar s = JSON.parse(data).second;\n//msg.payload ='sudo date -s \"'+y+'\"\"'+m+'\"\"'+d+ '\"\"'+h+'\"\":\"\"'+min+'\"\":\"\"'+s+'\"';\nmsg.payload ='\"'+y+'-' +m+'-'+d+' '+h+':'+min+':'+s+'\"';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2630,"y":3620,"wires":[["419d655beb28dd2c"]]},{"id":"419d655beb28dd2c","type":"exec","z":"3be8bfa16166fee9","command":"sudo date -s ","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2790,"y":3680,"wires":[[],[],[]]},{"id":"b6d761e62d61066e","type":"ui_template","z":"3be8bfa16166fee9","group":"c982fbb8.1deb38","name":"Clock Toolbar","order":2,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"global","x":2140,"y":3220,"wires":[[]]},{"id":"8dee689f5030cef0","type":"ui_date_picker","z":"3be8bfa16166fee9","name":"","label":"Starting Date","group":"bec7d1e8315af12c","order":3,"width":7,"height":1,"passthru":true,"topic":"topic","topicType":"msg","x":2390,"y":3040,"wires":[["e5a34cf19aafc521"]]},{"id":"d4385f84e6d348a5","type":"ui_date_picker","z":"3be8bfa16166fee9","name":"","label":"Final Date","group":"bec7d1e8315af12c","order":4,"width":7,"height":1,"passthru":true,"topic":"topic","topicType":"msg","x":2390,"y":3120,"wires":[["214e4dc85af93237"]]},{"id":"e5a34cf19aafc521","type":"function","z":"3be8bfa16166fee9","name":"Global Date&Time","func":"var timestamp = msg.payload; // Unix timestamp in milliseconds\nvar timeZoneOffset = -5; // Time zone offset in hours (negative for UTC-5)\n\n// Adjust for time zone offset\nvar localTimestamp = timestamp + (timeZoneOffset * 60 * 60 * 1000);\nglobal.set(\"dataready\",0);\n// Calculate date components\nvar date = new Date(localTimestamp);\nvar day = date.getDate();\nvar month = date.getMonth() + 1; // Add 1 to adjust for 0-indexed months\nvar year = date.getFullYear();\n\nvar formattedDate = day + ' ' + month + ' ' + year;\nglobal.set(\"StartDate\", formattedDate);\nglobal.set(\"start\", 1);\nmsg.payload = formattedDate;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2610,"y":3060,"wires":[["df8c72b5894b1f0c","7036a247884751cd"]]},{"id":"214e4dc85af93237","type":"function","z":"3be8bfa16166fee9","name":"Global Date&Time","func":"var timestamp = msg.payload; // Unix timestamp in milliseconds\nvar timeZoneOffset = -5; // Time zone offset in hours (negative for UTC-5)\n\n// Adjust for time zone offset\nvar localTimestamp = timestamp + (timeZoneOffset * 60 * 60 * 1000);\nglobal.set(\"dataready\", 0);\n// Calculate date components\nvar date = new Date(localTimestamp);\nvar day = date.getDate();\nvar month = date.getMonth() + 1; // Add 1 to adjust for 0-indexed months\nvar year = date.getFullYear();\n\nvar formattedDate = day + ' ' + month + ' ' + year;\nglobal.set(\"EndDate\", formattedDate);\nglobal.set(\"end\", 1);\nmsg.payload = formattedDate;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2610,"y":3120,"wires":[["df8c72b5894b1f0c","7036a247884751cd"]]},{"id":"df8c72b5894b1f0c","type":"function","z":"3be8bfa16166fee9","name":"function 25","func":"var start_date = global.get(\"StartDate\");\nvar end_date = global.get(\"EndDate\");\nvar start = global.get(\"start\");\nvar end = global.get(\"end\");\nglobal.set(\"dataready\", 0);\nif (start_date !== (null || \"undefined\") && end_date !== (null || \"undefined\")){\nmsg.payload =  true;\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2840,"y":3080,"wires":[["4eed2be3ed8b913e"]]},{"id":"7036a247884751cd","type":"function","z":"3be8bfa16166fee9","name":"function 26","func":"var preparedata = global.get(\"dataready\");\nvar datar = \"Null\";\nif(preparedata == 0){\n    datar = \"Preparing data.....\"\n}else if(preparedata == 1){\n    datar = \"Data Ready to Download\"\n}\nmsg = { topic: \"Estado de datos\", payload: datar };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2190,"y":3100,"wires":[["f9294e1ac7b71445"]]},{"id":"f9294e1ac7b71445","type":"ui_text","z":"3be8bfa16166fee9","group":"bec7d1e8315af12c","order":2,"width":7,"height":1,"name":"","label":"Data State","format":"{{msg.payload}}","layout":"row-spread","x":2170,"y":3140,"wires":[]},{"id":"693ffba3a618f631","type":"function","z":"3be8bfa16166fee9","name":"Set base path","func":"//restrict to c:\\temp\\\nvar basePath = \"/your_location/\";\nvar filename = \"name_data.csv\";\n\n\nif(filename.includes(\"..\\\\\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} else if(filename.includes(\"../\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} \n//TODO: add more checks\n\nmsg.filename = basePath + filename;\nreturn [msg, null];//fire output 1\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2360,"y":3360,"wires":[["9c451a89f85362c9"],["ae26cd9fd74a637c"]]},{"id":"ae26cd9fd74a637c","type":"http response","z":"3be8bfa16166fee9","name":"","statusCode":"","headers":{},"x":2710,"y":3400,"wires":[]},{"id":"9c451a89f85362c9","type":"file in","z":"3be8bfa16166fee9","name":"","filename":"filename","format":"","chunk":false,"sendError":false,"encoding":"none","x":2550,"y":3340,"wires":[["ae26cd9fd74a637c"]]},{"id":"b6ec5c2a381f528f","type":"catch","z":"3be8bfa16166fee9","name":"","scope":null,"uncaught":false,"x":2180,"y":3440,"wires":[["ff92ec12f1bcae3c","a810562bc8e76c2f"]]},{"id":"ff92ec12f1bcae3c","type":"function","z":"3be8bfa16166fee9","name":"Set 404","func":"msg.payload = msg.error;\nmsg.statusCode = 404;//resource not found\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2560,"y":3440,"wires":[["ae26cd9fd74a637c"]]},{"id":"a810562bc8e76c2f","type":"debug","z":"3be8bfa16166fee9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2210,"y":3500,"wires":[]},{"id":"0adb78497a45a4fd","type":"ui_template","z":"3be8bfa16166fee9","group":"bec7d1e8315af12c","name":"ui_template - present download links on dashboard","order":1,"width":0,"height":0,"format":"<div >\n    <a href=\"/files/name_data.csv\" style=\"color: BLUE\">Download_Selected_Data</a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":2550,"y":3520,"wires":[[]]},{"id":"68d0f2a24fad809a","type":"http in","z":"3be8bfa16166fee9","name":"","url":"/files/:fn","method":"get","upload":false,"swaggerDoc":"","x":2190,"y":3360,"wires":[["693ffba3a618f631"]]},{"id":"cba747538351cc64","type":"ui_template","z":"3be8bfa16166fee9","group":"bec7d1e8315af12c","name":"","order":6,"width":7,"height":1,"format":"<script>\n(function(scope){\n scope.$watch('msg', function(msg) {\n  var Datum = new Date();\n  var weekday=Datum.getDate();  //-weekday as a number  0-6\n  var month=Datum.getMonth() + 1; // month as a number 0-11\n  var year=Datum.getFullYear(); //year as a four digit number (yyyy)\n  var hours=Datum.getHours(); //the hour (0-23)\n  var minutes=Datum.getMinutes(); //-the minute (0-59)\n  var seconds=Datum.getSeconds(); //-the seconds (0-59)\n  datetime= {\"day\":weekday,\"month\":month,\"year\":year,\"hour\":hours,\"minute\":minutes,\"second\":seconds};\n scope.send({payload: JSON.stringify(datetime)});\n });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":2420,"y":3660,"wires":[["5bf470072f73b5f0"]]},{"id":"6e585a3ca20de39c","type":"inject","z":"3be8bfa16166fee9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":2210,"y":2960,"wires":[["8dee689f5030cef0","d4385f84e6d348a5"]]},{"id":"56968ca7a9a5b225","type":"ui_button","z":"3be8bfa16166fee9","name":"","group":"bec7d1e8315af12c","order":5,"width":7,"height":1,"passthru":false,"label":"UPDATE DATES","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":2210,"y":3000,"wires":[["8dee689f5030cef0","d4385f84e6d348a5"]]},{"id":"e16f4825f2bc1329","type":"mysql","z":"3be8bfa16166fee9","mydb":"d7c7e5cb.50c878","name":"DATA","x":2710,"y":2820,"wires":[["b392f011221401ca"]]},{"id":"4a2caa8f7aa57c37","type":"function","z":"3be8bfa16166fee9","name":"FINAL FUNCTION TO CREATE CSV","func":"const start_date = global.get(\"StartDate\");\nconst end_date = global.get(\"EndDate\");\n//var out = \"create table DATA(ID int auto_increment,DATE varchar(255),TIME varchar(255),TEMPERATURA double,TEMP_REFERENCIA double,primary key(ID));\"\nmsg.topic = \"(SELECT 'ID','DATE','TIME','CROP','TRIAL','LOCATION','AUTHOR','EMAIL','PHONE','SensorID','Temp_SOIL','Water_SOIL','Conduct_SOIL','Temp_DS18B20') UNION ALL (SELECT ID,DATE,TIME,CROP,TRIAL,LOCATION,AUTHOR,EMAIL,PHONE,SensorID,Temp_SOIL,Water_SOIL,Conduct_SOIL,Temp_DS18B20 FROM DATA WHERE STR_TO_DATE(DATE, '%d %m %Y') >= STR_TO_DATE('\" + start_date +\"', '%d %m %Y') AND STR_TO_DATE(DATE, '%d %m %Y') <= STR_TO_DATE('\"+ end_date +\"', '%d %m %Y') ORDER BY id ASC INTO OUTFILE '/your_location/name_data.csv' FIELDS TERMINATED BY ',' LINES TERMINATED BY '\\n');\";\nglobal.set(\"requestdata\", 0);\nmsg.csv = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2450,"y":2860,"wires":[["e16f4825f2bc1329"]]},{"id":"4eed2be3ed8b913e","type":"exec","z":"3be8bfa16166fee9","command":" sudo rm -r /opt/workspace/data.csv","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Erase","x":2190,"y":2860,"wires":[["4a2caa8f7aa57c37"],[],[]]},{"id":"287e3d0f59372a39","type":"inject","z":"3be8bfa16166fee9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2000,"y":2860,"wires":[["4eed2be3ed8b913e"]]},{"id":"b392f011221401ca","type":"function","z":"3be8bfa16166fee9","name":"recover user data","func":"var data = msg.payload;\nvar reqdata = global.get(\"requestdata\");\nif(reqdata == 1){\nglobal.set(\"crop\", data[0].CROP);\nglobal.set(\"trial\", data[0].TRIAL);\nglobal.set(\"location\", data[0].LOCATION);\nglobal.set(\"author\", data[0].AUTHOR);\nglobal.set(\"email\", data[0].EMAIL);\nglobal.set(\"phone\", data[0].PHONE);\nglobal.set(\"tempalert\", data[0].TEMPALERT);\nglobal.set(\"humalert\", data[0].HUMALERT);\nvar msg = { payload: global.get(\"author\")};\nreturn msg;\n}else{\nglobal.set(\"dataready\",1);\n\nreturn msg;\n\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2890,"y":2820,"wires":[["810b7dd70e319c7d","15f2cebca99e53c2","7036a247884751cd"]]},{"id":"cc5efcd8d47df30f","type":"function","z":"3be8bfa16166fee9","name":"GET DATA","func":"var query = \"SELECT * FROM DATA ORDER BY ID DESC LIMIT 1;\"\n//var query = \"SELECT * FROM CONFIG WHERE ID = 1;\"\nglobal.set(\"requestdata\",1);\nvar msg1 = { payload: query, topic: query};\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1930,"y":2820,"wires":[["e16f4825f2bc1329"]]},{"id":"810b7dd70e319c7d","type":"debug","z":"3be8bfa16166fee9","name":"debug 41","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":3080,"y":2800,"wires":[]},{"id":"88f1a6fc45ff493b","type":"inject","z":"3be8bfa16166fee9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"30","topic":"","payload":"","payloadType":"date","x":1730,"y":2820,"wires":[["cc5efcd8d47df30f"]]},{"id":"15f2cebca99e53c2","type":"link out","z":"3be8bfa16166fee9","name":"link out 3","links":["2f37f722.97e788","4e4780d3f2fcb4f9"],"x":3065,"y":2920,"wires":[]},{"id":"b029443548cbd824","type":"inject","z":"3be8bfa16166fee9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1940,"y":2560,"wires":[["c616df8fb0c36179"]]},{"id":"b2787dbdd30915e4","type":"function","z":"3be8bfa16166fee9","name":"Save Config","func":"//var date = global.get(\"gDate\");\n//var time = global.get(\"gTime\");\nif(msg.payload === \"SAVE\"){\n// Get the current date and time\nvar date = global.get(\"gDate\");\nvar time = global.get(\"gTime\");\nvar crop = global.get(\"crop\");\nvar trial = global.get(\"trial\");\nvar location = global.get(\"location\");\nvar author = global.get(\"author\");\nvar email = global.get(\"email\");\nvar phone = global.get(\"phone\");\nvar temp_alert=global.get(\"tempalert\");\nvar hum_alert=global.get(\"humalert\");\nvar insertColumns = ['DATE', 'TIME', 'CROP', 'TRIAL', 'LOCATION', 'AUTHOR', 'EMAIL', 'PHONE', 'TEMPALERT', 'HUMALERT'];\nvar insertPlaceholders = ['?', '?', '?', '?', '?', '?', '?', '?', '?', '?'];\n\n// Construct the INSERT INTO query dynamically\nvar insertQuery = 'INSERT INTO DATA (' + insertColumns.join(', ') + ') VALUES (' + insertPlaceholders.join(', ') + ')';\n\nmsg.topic = insertQuery;\nmsg.payload = [date, time, crop, trial, location, author, email, phone, temp_alert, hum_alert];\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2590,"y":2420,"wires":[["866567271bd1a20e"]]},{"id":"64ae6956cc987171","type":"link in","z":"3be8bfa16166fee9","name":"Save config","links":["37ea1e40d59e925a"],"x":2385,"y":2400,"wires":[["b2787dbdd30915e4"]]},{"id":"0d8949dbf84593e0","type":"link in","z":"3be8bfa16166fee9","name":"toDatabase","links":["7bb3aead3647b673"],"x":1895,"y":2460,"wires":[["b9aae7b293e1b91a"]]},{"id":"b60493f0.9ff0a","type":"function","z":"6862f897.ee8958","name":"tempalert","func":"global.set(\"tempalert\",msg.payload);","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2600,"y":2040,"wires":[]},{"id":"b32dac97.9ec62","type":"function","z":"6862f897.ee8958","name":"humalert","func":"global.set(\"humalert\",msg.payload);","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2600,"y":2080,"wires":[]},{"id":"50218014.2c0b","type":"ui_text_input","z":"6862f897.ee8958","name":"","label":"Soil Temperature °C","tooltip":"","group":"a7b642a217195c1b","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","topicType":"str","x":2400,"y":2040,"wires":[["b60493f0.9ff0a"]]},{"id":"5bfa77d8.762c98","type":"ui_text_input","z":"6862f897.ee8958","name":"","label":"Soil Moisture %","tooltip":"","group":"a7b642a217195c1b","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","topicType":"str","x":2380,"y":2080,"wires":[["b32dac97.9ec62"]]},{"id":"2f37f722.97e788","type":"link in","z":"6862f897.ee8958","name":"Alarm_intialization","links":["15f2cebca99e53c2"],"x":2055,"y":2060,"wires":[["9097a8b8.078918"]]},{"id":"9097a8b8.078918","type":"function","z":"6862f897.ee8958","name":"update data","func":"tempalert=global.get(\"tempalert\");\nhumalert=global.get(\"humalert\");\n\nif(msg.payload){\n    msg1 = {payload: tempalert};\n    msg2 = {payload: humalert};\n    return [msg1,msg2];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2190,"y":2060,"wires":[["50218014.2c0b"],["5bfa77d8.762c98"]]},{"id":"12c324d2.fd023b","type":"function","z":"6862f897.ee8958","name":"TriggerTempAlarm","func":"\ntempalert = global.get(\"tempalert\");\ntemp=global.get(\"tempAvg\");\n\ntemp_alarm=context.get(\"temp_alarm\");\nif(typeof temp_alarm===undefined)\ntemp_alarm=false;\n\nif (temp>tempalert && !temp_alarm){\n    temp_alarm=true;    //msg.alarm=1;\n    context.set(\"temp_alarm\",temp_alarm);\n    msg1 = {payload : temp, alarm : 1};\n    return msg1;\n}\nif (temp<tempalert-1 && temp_alarm){\n    temp_alarm=false;    //msg.alarm=0;\n    context.set(\"temp_alarm\",temp_alarm);\n    msg1 = {payload : temp, alarm : 0};\n    return msg1;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2330,"y":2160,"wires":[["1d8b225f.f971ae"]]},{"id":"1d8b225f.f971ae","type":"function","z":"6862f897.ee8958","name":"email Temp","func":"temp=msg.payload;\nd=global.get(\"gDateTime\");\nlocation=global.get(\"location\");\n//author=global.get(\"author\");\nemail=global.get(\"email\");\nsensor = global.get(\"sensorID\");\nmessage=\"\";\n\nif(msg.alarm){\n    subject=location+\": High Temperature Alarm\";\n    message=\" High Temperature Alarm in Sensor: \" + sensor;\n}\nelse{\n    subject=location+\": Temperature Alarm Reset\";\n    message=\" Temperature now normal in Sensor: \" + sensor;\n} \n\nmsg1 = {//from : \"noreply@gmail.com\",\n        to : email, \n        cc: global.get(\"ccEmail\"), \n        bcc: global.get(\"bccEmail\"), \n        topic : subject, \n        payload : message+temp+\"°C. \"+d,\n        text: location+\": \"+message+temp+\"°C. \"+d\n};\n\nmsg2={payload:{\n    //Uncomment if you want to send message through telegram\n    //\"chatId\": ,\n    \"type\": \"message\",\n    \"content\": location+\": \"+message+temp+\"°C. \"+d}\n};\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2510,"y":2160,"wires":[["b343d31c.c478b","ef149141.862d6"],["b19d13da.8363d"]]},{"id":"1d72b225.57f35e","type":"inject","z":"6862f897.ee8958","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":2130,"y":2160,"wires":[["12c324d2.fd023b","d678d466.91a158"]]},{"id":"d678d466.91a158","type":"function","z":"6862f897.ee8958","name":"TriggerHumAlarm","func":"\nhumalert = global.get(\"humalert\");\nhum=global.get(\"humAvg\");\n\nhum_alarm=context.get(\"hum_alarm\");\nif(typeof hum_alarm===undefined)\nhum_alarm=false;\n\nif (hum>humalert && !hum_alarm){\n    hum_alarm=true;    //msg.alarm=1;\n    context.set(\"hum_alarm\",hum_alarm);\n    msg1 = {payload : hum, alarm : 1};\n    return msg1;\n}\nif (hum<humalert-1 && hum_alarm){\n    hum_alarm=false;    //msg.alarm=0;\n    context.set(\"hum_alarm\",hum_alarm);\n    msg1 = {payload : hum, alarm : 0};\n    return msg1;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2330,"y":2200,"wires":[["e29e2eb7.85081"]]},{"id":"e29e2eb7.85081","type":"function","z":"6862f897.ee8958","name":"email Hum","func":"hum=msg.payload;\nd=global.get(\"gDateTime\");\nlocation=global.get(\"location\");\n//author=global.get(\"author\");\nemail=global.get(\"email\");\nsensor = global.get(\"sensorID\");\nmessage=\"\";\n\nif(msg.alarm){\n    subject=location+\": High Humidity Alarm\";\n    message=\" High Humidity Alarm in Sensor: \" + sensor;\n}\nelse{\n    subject=location+\": Humidity Alarm Reset\";\n    message=\" Humidity now normal in Sensor: \" + sensor;\n} \n\nmsg1 = {//from : \"noreply@gmail.com\",\n        to : email, \n        cc: global.get(\"ccEmail\"), \n        bcc: global.get(\"bccEmail\"), \n        topic : subject, \n        payload : message+hum+\"%. \"+d,\n        text: location+\": \"+message+hum+\"%. \"+d\n};\n\nmsg2={payload:{\n    //Uncomment if you want to send message through telegram\n    //\"chatId\": ,\n    \"type\": \"message\",\n    \"content\": location+\": \"+message+hum+\"%. \"+d}\n};\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2510,"y":2200,"wires":[["b343d31c.c478b","ef149141.862d6"],["b19d13da.8363d"]]},{"id":"b343d31c.c478b","type":"link out","z":"6862f897.ee8958","name":"Email_Alarms_out","links":["ea71b61b4cb5596d","8a48a2e8.6acad"],"x":2675,"y":2140,"wires":[]},{"id":"ef149141.862d6","type":"ui_toast","z":"6862f897.ee8958","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2750,"y":2180,"wires":[]},{"id":"b19d13da.8363d","type":"link out","z":"6862f897.ee8958","name":"Telegram_Alarms_out","links":["8a48a2e8.6acad"],"x":2675,"y":2220,"wires":[]},{"id":"8a48a2e8.6acad","type":"link in","z":"3be8bfa16166fee9","name":"Telegram_in","links":["b343d31c.c478b","b19d13da.8363d"],"x":2695,"y":2060,"wires":[["cd638fb36f5925c5"]]},{"id":"15b54be1.b4d0a4","type":"comment","z":"98e17aa124f52bdb","name":"Readme","info":"Copy the mqtt and trigger node as a couple of nodes neccesary to comunicate every new sensor as much as you need.\n","x":2050,"y":2500,"wires":[]},{"id":"d8f05fe6.da42a","type":"comment","z":"3be8bfa16166fee9","name":"Send Alerts (Readme)","info":"Note that telegram needs configuration.","x":2460,"y":1900,"wires":[]},{"id":"62c1a896.0f75c8","type":"comment","z":"3be8bfa16166fee9","name":"Store in MysQL database (Readme)","info":"Remember that you need first to configure the MySQL node and create the database and table as you need.\n\nThe \"CREATE TABLE DATA\" node will help you with an example of how to create it\n\nThe table in the example is called \"DATA\". However you can rename it.","x":2460,"y":2320,"wires":[]},{"id":"a7c3ff22.d98b","type":"comment","z":"3be8bfa16166fee9","name":"Downlaod data from MysQL database (Readme)","info":"Please check the nodes and change the variables to be download according with your table and variables you need.","x":2480,"y":2780,"wires":[]}]